@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Add some styles for body*/
body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.2em;
  height: 1.5em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  display: flex;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #223344;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider span {
  position: absolute;
  content: "";
  height: 1.1em;
  width: 1.1em;
  left: 0.2em;
  bottom: 3.5px;
  background-color: #f2f9fe;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #223344;
}

input:focus + .slider {
  box-shadow: 0 0 1px #223344;
}

input:checked + .slider span {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round span {
  border-radius: 50%;
}

.unordered-list li {
  transition: 0.3s;
}
